* {
    padding: 0;
    margin: 0;
  }
body{
    background-color: #ebf3f6;
    margin-left: auto;
    margin-right: auto;
}
.toDo{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: auto;
}
button{
    margin-left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: none;
    vertical-align: middle;
}
.red{
    background-color: #ee6a68;
  
}
.pinck{
    background-color: #f279a2;
    
}
.blue{
    background-color: #5eb3f6;
    
}
.lightBlue{
    background-color: #67d7e5;
    
}
.yellow{
    background-color: #ffe083;
    
}
#Add{
    background-color: #26a59a;
    width: 66px;
    height: 33px;
    color:white;
    text-decoration: none;
    transition: 0.2s;
    margin-left: 3px;
    border-radius: 3px;
    border: none;
    vertical-align: middle;
    
}
#text{
    width: 400px;
    height: 45px;
    text-decoration: none;
    outline: none;
    border: none;
    vertical-align: middle;
}
li{
    width: 600px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: auto;
    list-style-type: none;
  }
  #cbox{
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: auto;
  }